@import "../../../data/styles.css";

.homepage-article {
    display: flex; /* Aligns children (image and content) in a row */
    align-items: center; /* Aligns items at the start of the cross axis */
    width: 100%;
    mix-blend-mode: normal;
    border-radius: 10px;
    opacity: 0.9;
    margin-bottom: 0px; /* Adds space between articles */
}

.article-image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-right: -5px;
    margin-left: 15px;
}

.homepage-article-content {
    flex-grow: 1; /* Allows the content area to take up remaining space */
    padding: 30px;
}

.homepage-article:hover {
    background: #c9dcfdaf;
    opacity: 1;
    transition: background-color 0.3s, opacity 0.3s ease-in-out;
}

.homepage-article-date,
.homepage-article-title,
.homepage-article-description,
.homepage-article-link {
    opacity: 1; /* Ensures text is fully opaque */
}

.homepage-article-date {
    color: var(--secondary-color);
    font-size: 12px;
    margin-bottom: 1em;
}

.homepage-article-title {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
}

.homepage-article-description {
    color: var(--secondary-color);
    font-size: 12px;
    line-height: 1.5;
}

.homepage-article-link {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 700;
}

.homepage-article-link a {
    color: var(--link-color);
    text-decoration: none;
}

@media (max-width: 600px) {
    .homepage-article {
        flex-direction: column; /* Stacks image and content vertically on small screens */
        width: 100%;
        align-items: center; /* Centers items when stacked */
    }

    .article-image {
        margin-bottom: 10px; /* Adds space between the image and text content */
        margin-right: 0;
    }

    .homepage-article-content {
        padding: 20px; /* Adjust padding for smaller screens */
    }
}
