.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.skills-category {
    margin-bottom: 30px;
    text-align: center;
    
}

.skills-category-title {
    font-size: 1rem;
    margin-bottom: 10px;
    color: black;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px; /* Adjust width as needed */
    transition: transform 0.3s ease-in-out; /* Added transition for zoom effect */
}

.skill:hover {
    transform: scale(1.2); /* Scale up on hover */
}

.skill-icon {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Ensure icons are of consistent size */
    margin-bottom: 10px;
    object-fit: contain; /* Ensures the icon fits within the given dimensions */
}

.skill-name {
    font-size: 1rem; /* Adjust size as needed */
    color: #666; /* Adjust color as needed */
    transition: transform 0.3s ease-in-out; /* Added transition for zoom effect */
    color: var(--secondary-color);
}
