.works-body {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work {
    display: flex; /* Changed from column to row */
    align-items: center; /* Align items in the center */
    background-color: #f0f4f8; /* Light blue background */
    border-radius: 10px; /* Rounded corners */
    padding: 30px; /* Padding inside each card */
    margin-bottom: 30px; /* Space between cards */
    width: 100%; /* Full width of the container */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.work:hover {
    background-color: #d3e6f6; /* Slightly lighter shade on hover */
    transform: scale(1.02); /* Slightly increase size on hover */
}

.work-image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px; /* Adjusted for better spacing */
    align-self: flex-start;
}

.work-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.work-header {
    display: flex;
    align-items: baseline; /* Align items along the baseline */
    justify-content: space-between; /* Space between title/subtitle and duration */
    width: 100%;
}

.work-title {
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
}

.work-subtitle, .work-duration {
    font-size: 13px;
    color: var(--secondary-color);
}

.work-duration {
    align-self: flex-end; /* Keeps duration aligned to the end */
    margin-left: auto; /* Pushes the duration to the right */
}

.work-desc {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.59);
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.work:hover .work-desc {
    max-height: 200px; /* Adjust as needed for the description size */
    opacity: 1;
    padding-top: 10px; /* Add some padding to make it look nicer */
}


.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tertiary-color); /* Deep blue color */
    margin-bottom: 20px; /* Space below the title */
    font-size: 40px;
}