
.all-projects-container .slick-arrow:before {
    color: #26527c; /* A soft gray that blends well */
    transition: color 0.3s ease;
	font-size: 50px; /* Bigger arrow icons */
	left: 50px; /* Adjust this value as needed */
    transform: translateY(-50%);
	opacity: 0.5
}

.all-projects-container .slick-prev {
    left: -100px; /* Adjust this value as needed */
    transform: translateY(-50%);
}

.all-projects-container .slick-next {
    right: -100px; /* Adjust this value as needed */
    transform: translateY(-50%);
}

/* .all-projects-container .slick-arrow:next {
	color: #26527c;
	transition: color 0.3s ease;
	font-size: 50px;
} */

.all-projects-container .slick-arrow:hover {
    color: #555555; /* A darker gray for better visibility on hover */
}


