@import "../../../data/styles.css";

.project {
    position: relative; /* Needed for absolute positioning of child elements */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures space distribution between top content and bottom link */
    align-items: start;
    mix-blend-mode: normal;
    border-radius: 20px;
    opacity: 0.8;
    height: 100%;
    min-height: 450px; /* Adjust this value based on your needs */
    padding: 15px;
    margin-bottom: 20px; /* Adds space between project entries */
}

.project a {
	text-decoration: none;
}

.project:hover {
	background: #fafafa;
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.project:hover .project-link {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
}

.project-container {
	padding: 40px;
}

.project-logo-container {
    display: flex;
    flex-direction: row; /* Align logos in a row */
    justify-content: center; /* Centers logos horizontally within the container */
    align-items: center; /* Centers logos vertically */
    gap: 10px; /* Space between logos */
}

.project-logo {
    /* Adjustments for each logo */
    width: 30px; /* Fixed width for consistency */
    height: 30px; /* Fixed height for consistency */
    overflow: hidden; /* Ensures no overflow */
}


.project-logo img {
	width: 100%;
}

.project-title {
	color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1em;
	padding-top: 10px;
	text-align: center;
}

.project-description {
	color: var(--secondary-color);
    font-size: 13px;
    line-height: 1.5;
	text-align: center;
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--secondary-color);
	font-size: 12px;
	padding-top: 20px;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
}

.project-link-text {
	padding-left: 20px;
	font-weight: 700;
}

@media (max-width: 600px) {
	.project {
		height: 300px;
	}
}

.project-img {
    width: 220px; /* Set width to make it square */
    height: 220px; /* Set height to make it square */
    object-fit: cover; /* Ensures the image covers the area without distorting aspect ratios */
    margin: 20px auto; /* Centers the image horizontally and adds space above and below */
    border-radius: 10px; /* Adds rounded corners to the image */
    display: block; /* Ensures the margin auto is effective for centering */
}