:root {
	/* ------- colors ------- */
	--primary-color: #4c748c;
	--secondary-color: #21253d;
	--tertiary-color: #bebcb7;
	--quaternary-color: #838c49;
	--link-color: #4c748c;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
