:root {
	/* ------- colors ------- */
	--primary-color: #ffffff;
	--secondary-color: #cedff9;
	--tertiary-color: #A3C9F1;
	--quaternary-color: #838c49;
	--link-color: #cea7ff;
	--background-color: #021b72c2;
	--hover-color: #587bb7af;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
